/* 1. 전체적인 세팅 */

*{
    box-sizing: border-box;
}
html{
    height: 100%; /*자기가 속한 영역을 기준으로 백분율 계산.,  html은 화면을 기준 */
}

body{
    /* 기본적으로 margin이 있음 */
    height: 100%;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

.container{
    height: 100%;
    background-color: #6800d0;
}

/* 2. 스크린 크기 조정 */

/* 2-1. 채팅 입력창을 제외한 나머지 */
.chat-screen{
    /* 전체에서 채팅 입력창 만큼을 제외해서 넣고싶다. */
    height: calc(100% - 120px);
}

/* 3. 유저 정보 표시되는 부분 */

.user{
    background-color: #f4f4f4;
    padding: 18px;
    height: 80px;
    box-shadow: 2px 1px 5px #786060;
}

.user__column{
    float: left;
}

.user__pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #fcc41f;
}

.user__pic img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px #786060;
}

.user__nick, .user__count{
    margin: 5px;
}

.user__count{
    font-size: 12px;
    color: gray;
}

/* 4. 채팅 입력 창 */
.chat-form{
    height: 120px;
    background-color: white;
    box-shadow: 2px 1px 5px #786060;
}
.chat-form__field{
    height: 120px;
}
.chat-form__msg{
    background-color: #f4f4f4;
    float: left;
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    font-size: 24px;
    /* 텍스트가 쓰여질때 너무 여백없이 적어져서 패딩 적용 */
    padding: 10px;
    /* textarea는 입력창의 크기가 리사이징되는 것이 기본값이므로 이 값을 막음 */
    resize: none;
    
}

.chat-form__bt{
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #fcc41f;
    font-size: 26px;
    box-shadow: 2px 1px 5px #786060;
    font-family: 'Nanum Gothic', sans-serif;
    color: #6800d0;
    font-weight: 800;
}

/* 랜더링 중 요소간의 특성 차이, 랜더링 방식 때문에 붙지않고 떨어지는 경우있음  */


/* 5. 의사클래스 적용 */

/* 메시지 전송버튼 .chat-form__bt{
    메세지를 치면 전송됐으면 좋겠다
    전송을 하려면 클릭해야되고 활성화된 동작 */
.chat-form__bt:active{
    background-color: #CB9D12;
}

/* 텍스트 입력 창 
    입력시에 아웃라인(파란색 테두리)가 생기는데 제거하고 싶다. */
.chat-form__msg:focus{
    outline: none;
}