/* 전체세팅 */
*{
    margin:0;
    padding:0;
    -webkit-text-size-adjust: none;
    word-break:keep-all;
    box-sizing:border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, table, th, td, input, select, textarea, button {
    margin:0;
    padding:0;
    word-break:break-all
}

body, input, textarea, select, button, table {
    font-family:'Noto Sans', sans-serif;
    color:#000; 
    font-size:16px; 
    line-height:1;
}

img  {
    vertical-align:middle;
    display:inline-block;
}

.container{
    max-width: 100%;
    padding: 0;
}

div {
    display: block;
}

li{
    list-style-type : none
}

a{
    color: inherit;
    text-decoration: none;
}

/* header */

.header {
    position: relative;
}

.header-wrap {
    max-width: (1680px + 80px);
    margin: 0 auto;
}

.header-top {
    padding: 18px 0;
    overflow: auto;
}

.header-top .logo{
    float: left;
    padding-left: 42px;
    display: flex;
    align-items: center;
}

.header-top .utility{
    float: right;
    padding-right: 150px;
    display:flex;
}

    /* header nav */
.nav-wrap {
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    padding-left: 42px;
}
/*  */
.nav{
    display: inline-block;
}

.nav li{
    display: inline-block;
    padding-left: 24px;
    vertical-align: top;
}

.nav .nav-item{
    position: relative;
    display: block;
    padding: 4px 0 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    vertical-align: top;
}

/* cotents */
.main-renewal {
    padding-top: 0;
}

.main-renewal .section {
    padding-top: 0;
    overflow:hidden;
    margin-top: 0;
    max-width: 1476px;
    padding:0 48px;
}

.main-wrap {


    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    background-color: rgb(173, 207, 236);
}


/* $pcWidth: 1380px;
    $pcPadding: 48px
    $pcMaxWidth: $pcWidth + ($pcPadding*2); 
*/
@media screen and (max-width: 1200px) {
    .main-wrap .section .recom-list-slide .slide-content .slide-conts-box .slide-conts .slide-box .text-area{
        width:70% !important;
    }
}
@media screen and (max-width: 1024px) {
    .main-wrap .section.wide-section .item-box-cover .item-box-wrap.type2.size3 a .item-box .cont .desc {
        font-size: 15px;
    }
}

/* 1_배너 */

.section{
    max-width:1460px;
    margin:120px auto 0;
    padding:0 40px;
}

/* .section--fold{
    max-width:1460px;
} */

.section--fold{
    overflow: hidden;
    margin-top: 0;
}

/* .main-wrap .section.wide-section {
    width: 100%!important;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    background-color: antiquewhite;
} */

.main-wrap .section{
    margin-top: 100px;
}

.wide-section{
    position:relative;
    width:100% !important;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left:0;
    padding-right: 0;
}

.new-hero-banner{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 48px;
    height: 180px;
}

.slide-wrap{
    position: relative;
    /* position:absolute; */
    top:50%;
    left:50%;
    width:100%;
    max-width:1600px;
    transform:translateX(-50%);
    z-index:10;
}


.slide-img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
}

.slide-img img{
    height: 100%;
}


/* 배너밑에 아이콘 */
.main-quick-menu{
    margin: 0 auto;
    padding: 0 48px;
    max-width: 1920px;
}

.main-quick-menu__list{
    display: flex;
    gap:38px;
    justify-content: center;
    padding: 80px 0 88px;
    flex-wrap: wrap;
}

.main-quick-menu__item{
    width: 80px;
}

.main-quick-menu__link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-quick-menu__icon{
    width: 60px;
    height: 60px;
    margin: 0 auto 8px;
}
.main-quick-menu__icon img{
    width: 100%
}
.main-quick-menu__title{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
}

/* 메인배너 */
.main-banner{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 48px;
    height: 180px;
    margin-top:40px;
}

.main-banner .main-banner__link{
    display: block;
    position: relative;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.main-banner .main-banner__image{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
}

.main-banner .main-banner__image img{
    height: 100%;
}

.main-banner .main-banner__text-wrap{
    position: relative;
    color: #fff;
    
}

.main-banner__text-wrap{
    position: absolute;
    top: 50%;
    left: 96px;
    transform: translateY(-50%);
}

.main-banner .main-banner__text-wrap .main-banner__title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}


.main-banner .main-banner__text{
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
}

/* 2_section_sales */
.main-wrap .section.wide-section {
    position: relative;
    width: 100%!important;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.main-renewal .section__inner {
    max-width: 1476px;
    margin: 0 auto;
    position: relative;
}

.main-renewal .section.wide-section .section__inner {
    padding: 80px 48px;
}

.main-renewal .section__header {
    margin-bottom: 32px;
}

.main-renewal .section__title {
    font-size: 28px;
    line-height: 36px;
    color: #000;
    font-weight: 700;
}

.main-renewal .section__description {
    margin-top: 8px;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

.main-sales__list--type1:not(.slick-initialized) {
    padding: 14px 14px 16px 14px;
    display: flex;
    margin: -14px -14px 0;
    overflow-x: auto;
}

.main-sales__list--type1:not(.slick-initialized)::-webkit-scrollbar {
    height: 16px;
    background-color: transparent;
}

.main-sales__list--type1 .main-sales__item:first-of-type {
    margin-left: -24px;
}

.main-sales__list--type1 .main-sales__item {
    width: calc(25% + 6px);
    height: auto;
    padding-left: 24px;
    flex: none;
}

.main-sales__list--type1 .main-sales__item .item__inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-sales__list--type1 .main-sales__item .item__image {
    position: relative;
    padding: 32px;
    border-radius: 16px;
    overflow: hidden;
}

.main-sales__list--type1 .main-sales__item .item__image span {
    padding-top: 100%;
    display: block;
    position: relative;
    text-align: center;
}


/* 상품 이름 */
.main-sales__list--type1 .main-sales__item .item__infos {
    flex: 1;
    position: relative;
    padding: 16px 8px 0;
    min-height: 140px;
}

.main-renewal .section .item__name {
    font-size: 20px;
    line-height: 28px;
    display: block;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main-renewal .section .item__name .main-title {
    font-size: 20px;
    line-height: 28px;
}

.main-renewal .section .item__name .main-title .main {
    font-weight: 700;
}
/* 상품 번호 */
.main-renewal .section .item__sku {
    margin-top: 2px;
    font-size: 16px;
    display: block;
    line-height: 1.43;
    color: #666;
}

/* 상품 가격 */
.main-sales__list--type1 .main-sales__item .item__price-wrap {
    position: absolute;
    bottom: 0;
}

.main-renewal .section .item__price-wrap {
    margin-top: 16px;
    display: flex;
}

.blind, caption, legend {
    position: absolute;
    z-index: -10;
    width: 0!important;
    height: 0!important;
    overflow: hidden!important;
    font-size: medium;
    line-height: normal;
    word-break: break-all;
}

em {
    font-style: normal;
}

.main-renewal .section .item__price {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}